<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="board/layout/basic">
	<th:block layout:fragment="title">
		<title>This page is a list page</title>
	</th:block>

<!-- search 영역에 넣기 -->
	<th:block layout:fragment="search">
		<div th:replace="board/fragments/common :: search"></div>
	</th:block>

<!-- content 영역에 넣기 -->
	<th:block layout:fragment="content">
		<div class="table-responsive clearfix">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>등록일</th>
						<th>조회 수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
						<td scope="row" th:text="${#strings.equals( row.noticeYn, 'Y' ) ? '공지' : row.idx}"></td>
						<td class="text-left">
							<a th:href="|@{/board/view.do}${params.makeQueryString(params.currentPageNo)}&idx=${row.idx}|" th:text="${row.title}"></a>
						</td>
						<td th:text="${row.writer}"></td>
						<td th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></td>
						<td th:text="${row.viewCnt}"></td>
					</tr>
					<!-- if / else 에서 조건을 다 써주어야 한다. -->
					<tr th:unless="${not #lists.isEmpty( boardList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>

			<div class="btn_wrap text-right">
				<a th:href="@{/board/write.do}" class="btn btn-primary waves-effect waves-light">Write</a>
			</div>

			<th:block layout:fragment="paging">
				<nav th:replace="board/fragments/common :: pagination"></nav>
			</th:block>
		</div>
	</th:block>
	<!-- 링크 클릭시 해당 함수 실행 -->
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function movePage(uri, queryString) {
				location.href = uri + queryString;
			}
			
			function searchBoard(form) {
				/*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
				if (isEmpty(form) == true) {
					/* 사용자가 입력한 값의 name mainSearchKeyword를 가져와서 searchKeyword로 선언 */
					/* 유의 . 자바스크립트의 searchKeyword는 html 의 name이 mainSearchKeyword */
					var searchKeyword = document.getElementById("mainSearchKeyword");
					
					/* 아래 화살표 클릭 안하고 직접 입력한 경우 */
					if (isEmpty(searchKeyword.value) == true) {
						alert("키워드를 입력해 주세요.");
						searchKeyword.focus();
						return false;
					}

					/* 직접 입력하는 칸이 안 비었을 경우 */
					form = document.getElementById("searchForm");
					/* form.searchKeyword는 아래 호살표를 클릭하고 나오는 키워드 입력칸 */
					/*  main검색이 안 비워져 있으면 그 값은 화살표 안 키워드 검색 값에 넣는다. */
					form.searchKeyword.value = searchKeyword.value;
					form.submit();
				}

				if (isEmpty(form.searchKeyword.value) == true) {
					alert("키워드를 입력해 주세요.");
					form.searchKeyword.focus();
					return false;
				}
			}

			/*]]>*/
		</script>
	</th:block>
</html>