<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="board/layout/basic">
	<th:block layout:fragment="title">
		<title>this is view page</title>
	</th:block>

	<th:block layout:fragment="content">
		<div class="card-content">
		<!-- th object로 값을 받아온다. -->
			<form class="form-horizontal form-view" th:object="${board}">
				<div class="form-group">
					<label for="inp-type-1" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
					<!-- 오브젝트가 있을 때 속성 값 접근 -->
						<p class="form-control" th:text="*{title}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-2" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{writer}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{content}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{#temporals.format( insertTime, 'yyyy-MM-dd' )}"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{viewCnt}"></p>
					</div>
				</div>
			</form>

			<div class="btn_wrap text-center">
				<a th:href="@{/board/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
				<a th:href="@{/board/write.do( idx=${board.idx} )}" class="btn btn-primary waves-effect waves-light">수정하기</a>
				<button type="button" class="btn btn-danger waves-effect waves-light" th:onclick="deleteBoard([[ ${board.idx} ]])">삭제하기</button>
			</div>
		</div>
		<!-- /.card-content -->
	</th:block>

	<th:block layout:fragment="add-content">
		<div class="box-content">
			<div class="card-content">
				<div class="clearfix">
					<h4 class="box-title pull-left">Comment</h4>
					<!-- /.box-title -->
				</div>

				<form class="form-horizontal form-view">
					<div class="input-group margin-bottom-20">
						<input type="email" class="form-control" placeholder="">
						<div class="input-group-btn"><button type="button" class="btn waves-effect waves-light"><i class="fa fa-commenting" aria-hidden="true"></i></button></div>
						<!-- /.input-group-btn -->
					</div>
					<ul class="notice-list">
						<li>
							<span class="name">Betty Simmons</span>
							<span class="desc">There are new settings available</span>
							<span class="time">2019.03.26</span>
							<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
						</li>
						<li>
							<span class="name">Betty Kim</span>
							<span class="desc">There are new settings available</span>
							<span class="time">2019.03.15</span>
							<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
						</li>
					</ul>
				</form>
			</div>
			<!-- /.card-content -->
		</div>
		<!-- /.box-content -->
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/* tag말고 연산자로 인식해라 */
			/*<![CDATA[*/

			function deleteBoard(idx) {

				/* alert의 다른 종류 confrim 확인,취소 버튼이 있는 alert */
				if (confirm(idx + "번 게시글을 삭제할까요?")) {
					var uri = /*[[ @{/board/delete.do} ]]*/ null;
					/* 선언 및 초기화 */
					var html = "";

					/* 동적으로 form 생성 */
					/* 한줄씩 하는 이유가..? */
					html += '<form name="dataForm" action="'+uri+'" method="post">';
						html += '<input type="hidden" name="idx" value="'+idx+'" />';
					html += '</form>';

					/* body tag 밑에 다음 html 문 추가 */
					$("body").append(html);
					/* form 객체 내부 요소에 바로 접근하는 방법 */
					document.dataForm.submit();
					/* 삭제를 하면 바디 tag에 해당 html문은 추가하고 name이 dataForm으로 접근한다. 지울 게시글 idx 넘겨줌 */
				}
			}
			/*[- end of function -]*/

			/*]]>*/
		</script>
	</th:block>
</html>